*{
    margin: 0;
    padding: 0;
}
.login{
    height: 350px;
    width: 400px;
    border: 10px solid #867979;
    border-radius: 15px;
    position: center;
    margin: 100px;
}

.email input{
    display: block;
   width: 90%; 
    height: 45px;
    margin: 5px 10px;
    font-family: arial;
    font-size: 20px;
    border-radius: 5px;
   
   
}
.log{
    color: #fff;
     display: block;
   width: 90%; 
    height: 40px;
    margin: 10px;
    font-family: arial;
    font-size: 15px;
    border-radius: 5px;
    background: #1A78F4;
    position: center;

    
    
}
.log h1{
   margin-left: 140px;
    padding-top: 5px;

}
.forget{
   display: block;
    float: left;
    margin: 0px 120px;
    color:  #1A78F4;
}
.creat{
       color: #fff;
     display: block;
   width: 70%; 
    height: 50px;
    margin: 10px 50px;
    font-family: arial;
    font-size: 10px;
    border-radius: 5px;
    background: #42B232;
    position: center;

}
.creat h1{
    padding: 14px 60px
}
